<!-- Contenido principal del la lista de usuarios -->
<div class="w-full p-4">
    <!-- Contenido del header de la tabla -->
    <div class="header-list w-full mx-auto my-6 flex flex-row justify-between items-center">
        <!-- Titulo de la sección -->
        <h2 class="text-base text-gray-700 font-medium">Lista de Usuarios</h2>

        <!-- Botón para agregar nuevo usuario -->
        <button mat-raised-button color="primary">
            <mat-icon class="text-white">add</mat-icon>
            <span class="font-normal text-base text-white ml-2" routerLink="/user/new_user">Nuevo Usuario</span>
        </button>
    </div>

    <!-- Tabla - Lista de Usuarios -->
    <table mat-table [dataSource]="users" class="mat-elevation-z8 w-full">

        <!-- Tipo de Identificación -->
        <ng-container matColumnDef="identification_type">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Tipo de
                Identificación</th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.identification_type}}
            </td>
        </ng-container>

        <!-- Identificación -->
        <ng-container matColumnDef="identification">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Identificación
            </th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.identification}} </td>
        </ng-container>

        <!-- Nombres -->
        <ng-container matColumnDef="names">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Nombres</th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.first_name}}
                {{element.other_name}}</td>
        </ng-container>

        <!-- Apellidos -->
        <ng-container matColumnDef="lastnames">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Apellidos</th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.paternal_surname}}
                {{element.maternal_surname}}</td>
        </ng-container>

        <!-- País de trabajo -->
        <ng-container matColumnDef="country_work">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Páis de trabajo
            </th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.country_work}}</td>
        </ng-container>

        <!-- Correo -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Páis de trabajo
            </th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.email}}</td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Páis de trabajo
            </th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.status}}</td>
        </ng-container>

        <!-- Área -->
        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Área </th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.area}}</td>
        </ng-container>

        <!-- Área -->
        <ng-container matColumnDef="admission_date">
            <th mat-header-cell *matHeaderCellDef class="text-sm text-blue-400 text-center break-words"> Fecha de
                ingreso </th>
            <td mat-cell *matCellDef="let element" class="text-center break-words"> {{element.admission_date | date:
                'shortDate' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator 
        [length]="totalCount"
        [pageSize]="10"
        [pageSizeOptions]="[10]" 
        showFirstLastButtons 
        >
    </mat-paginator>
</div>