<!-- Contenido principal del la lista de usuarios -->
<div class="w-full p-4">
    <!-- Contenido del header de la tabla -->
    <div class="header-list w-full mx-auto mt-6 flex flex-row justify-center items-center">
        <!-- Titulo de la sección -->
        <h2 class="text-2xl text-gray-700 font-medium">{{ idUser === 'new_user' ? 'Creando' : 'Editando'}} Usuario</h2>
    </div>

    <div class="w-full">
        <form (submit)="onSubmit($event)" [formGroup]="formUser"
            class="w-8/12 mx-auto flex flex-row flex-wrap justify-between items-start">

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Tipo de identificación</mat-label>
                    <mat-select formControlName="identification_type">
                        <mat-option value="Cedula de Ciudadanía">Cedula de Ciudadanía</mat-option>
                        <mat-option value="Cedula de Extranjería">Cedula de Extranjería</mat-option>
                        <mat-option value="Pasaporte">Pasaporte</mat-option>
                        <mat-option value="Permiso Especial">Permiso Especial</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Identificación</mat-label>
                    <input matInput placeholder="Número de identificación" formControlName="identification">
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Primer Apellido</mat-label>
                    <input matInput placeholder="Primer Apellido" formControlName="paternal_surname">
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Segundo Apellido</mat-label>
                    <input matInput placeholder="Segundo Apellido" formControlName="maternal_surname">
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Primer Nombre</mat-label>
                    <input matInput placeholder="Primer Nombre" formControlName="first_name">
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Otros Nombres</mat-label>
                    <input matInput placeholder="Otros Nombres" formControlName="other_name">
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>País de Trabajo</mat-label>
                    <mat-select formControlName="country_work">
                        <mat-option value="Colombia">Colombia</mat-option>
                        <mat-option value="Estados Unidos">Estados Unidos</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="w-4/12 p-4" *ngIf="idUser !== 'new_user'">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="email">
                </mat-form-field>
            </div>

            
            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Fecha de Ingreso</mat-label>
                    <input  [max]="maxDate" matInput [matDatepicker]="picker" formControlName="admission_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div class="w-4/12 p-4">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>Área</mat-label>
                    <mat-select formControlName="area">
                        <mat-option value="Administración">Administración</mat-option>
                        <mat-option value="Financiera">Financiera</mat-option>
                        <mat-option value="Compras">Compras</mat-option>
                        <mat-option value="Infraestructura">Infraestructura</mat-option>
                        <mat-option value="Operación">Operación</mat-option>
                        <mat-option value="Talento Humano">Talento Humano</mat-option>
                        <mat-option value="Servicios Varios">Servicios Varios</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" class="w-10/12 mx-auto mt-6">
                <span class="text-sm mr-2 font-light">Enviar datos</span> 
                <mat-icon>send</mat-icon>
            </button>
        </form>

    </div>
</div>