<mat-drawer-container autosize>
  <mat-drawer-content>
    <div class="w-full">
      <mat-toolbar class="bg-blue-200">
        <span>My App</span>
        <button mat-button class="ml-auto flex flex-row justify-center items-center" routerLink="/">
          <mat-icon>groups</mat-icon>
          <span class="font-normal text-base text-gray-800 ml-2">Usuarios</span>
        </button>
      </mat-toolbar>
    </div>
    <div class="w-full p-6 bg-gray-100 min-h-screen">
      <div class="content w-11/12 mx-auto mt-6 rounded-md shadow-lg bg-white">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>

  

</mat-drawer-container>


